.nothing {
  height: 0;
  width: 0;
}

.Close-playlist-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #010c3f87;
  cursor: pointer;
  z-index: 0;
}

.Playlist-container {
  position: absolute;
  top: 2%;
  left: 18%;
  height: 96%;
  width: 65%;
  border: 2px solid #787e99;
  background-color: rgba(26, 36, 64, 0.96);
  z-index: 1;
  overflow-y: scroll;
}

.Playlist-container h3 {
  padding: 2% 5% 0 1%;
  font-size: 2rem;
  color: rgb(46, 197, 106);
}

.Playlist-container .List-item {
  display: flex;
  justify-content: space-between;
  width: 88%;
  margin: 10px auto;
  padding: 2%;
  border-bottom: 2px solid #555d84;
}

.Playlist-container .List-item p {
  max-width: 75%;
}

.Title {
  color: #2ec56a;
}

.Playlist-container .List-item:hover .Title {
  color: #fff;
}

.Playlist-container .List-item:hover {
  border-color: #fff;
}

.Count {
  color: rgba(251, 251, 251, 0.62);
}

.Playlist-container .List-item:hover .Count {
  color: rgb(251, 251, 251);
}

.Edit-btn {
  color: rgba(251, 251, 251, 0.62);
}

.Edit-btn:hover {
  cursor: pointer;
  color: #59d44b;
}

.Delete-btn {
  color: rgba(251, 251, 251, 0.62);
}

.Delete-btn:hover {
  cursor: pointer;
  color: #d44b4b;
}
