.nothing {
  height: 0;
  width: 0;
}

.Close-playlist-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #010c3f87;
  cursor: pointer;
  z-index: 0;
}

.Playlist-container {
  position: absolute;
  top: 17%;
  left: 25%;
  height: 50%;
  width: 50%;
  border: 2px solid #6c41ec;
  background-color: rgba(26, 36, 64, 0.96);
  overflow-y: hidden;
  z-index: 1;
}

.Playlist-container h3 {
  width: 85%;
  padding: 2% 5% 1% 1%;
  margin-left: 4%;
  border-bottom: 2px solid white;
  font-size: 2rem;
}

.Playlist-list {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.Playlist-list .List-item {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 2% 0 0 4%;
  padding: 2%;
  border: 2px solid;
}
