.Playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  height: 600px;
  padding: 0.88rem;
  background-color: rgba(49, 61, 88, 0.86);
  box-shadow: 2px 5px 4px 1px #000000;
}

.remove-space {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  height: 0;
  width: 100%;
}

.Show-playlist-list {
  position: relative;
  width: 120px;
  margin-top: 16px;
  cursor: pointer;
}

.Playlist input {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #6f6f6f;
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  color: #fff;
}

.Playlist-save {
  text-align: center;
  cursor: pointer;
  width: 100%;
  padding: 8px 0;
  margin: 6px;
  background-color: #6c41ec;
  font-size: .83rem;
  transition: background-color .25s;
}

.Playlist-save:hover {
  background-color: rgba(108, 65, 233, .7);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
  .Playlist {
    width: 90%;
  }
}
