.App {
  padding: 0 15% 0 15%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #e4e4e4;
  overflow-y: scroll;
  scrollbar-width: none;
}

.main-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40rem;
  margin-bottom: 10%;
}

.main-header {
  padding: 1% 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 6rem;
}

.main-header .highlight {
  color: #59d44b;
}

.user-info {
  display: flex;
  padding-bottom: 10px;
  justify-content: flex-end;
}

.user-info a {
  color: #59d44b;
}

@media only screen and (max-width: 1020px) {
  .main-container {
    height: 80vh;
    align-items: center;
    flex-direction: column;
  }
}
